@{
    ViewBag.Title = "opg";
    Layout = "~/Views/Shared/_SecondMainLayout.cshtml";
}

@section Title
{
    Services | OPG
}
@section Banner
{
    <br><br><div class="page-head">
        <div class="container">
            <h3>Services</h3>
        </div>
    </div>

}

<div class="men-wear">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="css-treeview">
                <h4>Our Services</h4>
                <ul class="tree-list-pad">
                    <li><span></span><a href="@Url.Action("Laboratory","Main")">Laboratory</a></li>
                    <li><span></span><a href="@Url.Action("Ultrasound","Main")"> Ultrasound</a></li>

                    <li><span></span><a href="@Url.Action("Xrays","Main")">X-rays</a></li>

                    <li><span></span><a href="@Url.Action("opg","Main")">OPG</a></li>

                    <li><span></span><a href="@Url.Action("ecg","Main")"> ECG</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 products-right">
            <h2><strong>OPG ( ORTHOPANTOMOGRAPHY )</strong></h2>

            <br><p>
                OPG stands for Orthopantomography.
                It is a special method for obtaining radiographs of the teeth-bearing jaws, both upper and lower. A state-of-the-art orthopos machine is available for orthopantomography and cephalometry procedures. The machine provides images of face and underlying bones,
                which is valuable information for plastic and reconstruction surgery.
            </p>
            <br><p>
                A regular X-ray machine cannot take detailed pictures of the jaw bones. An OPG machine is specially constructed so that it rotates around the jaw bones, thus giving us an
                extremely good idea about the structure of the jaw bones. Yes, X-rays are used, but the method is totally different.
            </p>
            <br><p>
                OPG are usually asked for by the dentists, whether they are general dentists, orthodontists, oral surgeons
                or prosthodontists/ implantologists. Because OPGs give a holistic view of the teeth and the adjacent bones, they are
                useful in a wide
                variety of conditions including infections, tumors, congenital abnormalities, pre-implant evaluation and trauma.
            </p>

            <br><p>
                This is a special method for obtaining radiographs of the teeth- bearing jaws, both upper and lower. A specially constructed machine rotates around the jaw-bones, thus giving us an extremely good idea about the structure of the jaw-bones and are useful in a wide-variety of conditions including infections, tumors, congenital abnormalities, pre-implant evaluation and trauma.
                Cephalogram is an x-ray of the face, obtained so that accurate measurements of the face can be performed.

                <br>
            <p>
                It is use for Oral surgeons, orthodontists and prosthodontists need cephalograms prior to planning surgeries
                and teeth manipulation.
            </p>
        </div>
    </div>
</div>
<!-- //mens -->
<!-- //product-nav -->
<br><br><div class="coupons">
    <div class="container">
        <div class="coupons-grids text-center">
            <div class="col-md-3 coupons-gd">
                <h3>Customer  <br>  Care </h3>
            </div>
            <div class="col-md-3 coupons-gd">
                <h4><a class="start1" href="@Url.Action("health","Main")"> Health</a></h4>
                <p>Boost your Health with some daily routine Health Tips</p>
            </div>
            <div class="col-md-3 coupons-gd">
                <h4><a class="start1" href="@Url.Action("wecare","Main")">We Care</a></h4>
                <p>Our Customer Service Office is available to answer any questions or  any issues  </p>
            </div>
            <div class="col-md-3 coupons-gd">
                <h4><a class="start1" href="@Url.Action("faqs","Main")"> FAQs</a></h4>
                <p>You can view anwers of your required qquestions from the list </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
