@{
    ViewBag.Title = "Ultrasound";
    Layout = "~/Views/Shared/_SecondMainLayout.cshtml";
}

@section Title
{
    Services | Ultrasound
}
@section Banner
{
    <br><br><div class="page-head">
        <div class="container">
            <h3>Services</h3>
        </div>
    </div>

}

<div class="men-wear">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="css-treeview">
                <h4>Our Services</h4>
                <ul class="tree-list-pad">
                    <li><span></span><a href="@Url.Action("Laboratory","Main")">Laboratory</a></li>
                    <li><span></span><a href="@Url.Action("Ultrasound","Main")"> Ultrasound</a></li>

                    <li><span></span><a href="@Url.Action("Xrays","Main")">X-rays</a></li>

                    <li><span></span><a href="@Url.Action("opg","Main")">OPG</a></li>

                    <li><span></span><a href="@Url.Action("ecg","Main")"> ECG</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 products-right">
            <h2><strong>Ultrasound</strong></h2>
            <div class="clearfix"></div>

            <br> <p>
                Ultrasound imaging, also called ultrasound scanning or sonography, involves exposing part
                of the body to high-frequency sound waves to produce pictures of the inside of the body.
                Ultrasound exams do not use ionizing radiation . Because ultrasound images are captured in real-time,
                they can show the structure and movement of the body<sup>'</sup>s internal organs, as well as blood
                flowing through blood vessels.
            </p>

            <br><p>
                Ultrasound imaging is usually a painless medical test that helps physicians diagnose and treat medical conditions.
                Ultrasound scanning can help in almost any domain of disease identification. It is useful in pregnancy, it can be done
                for the breast, lower abdomen, upper abdomen- liver, pancreas etc, heart, bones, joints, neck etc. Ultrasound is a
                valuable tool and in the right hands can clear out most doubts related to the diagnostic queries that we are faced with.
            </p>

            <br><p>
                Conventional ultrasound displays the images in thin, flat sections of the body. Advancements in
                ultrasound technology include three-dimensional (3-D) ultrasound that formats the sound wave data
                into 3-D images. Four-dimensional (4-D) ultrasound is 3-D ultrasound in motion.

            </p>
            <br><p>
                A <strong>Doppler ultrasound</strong> study may be part of an ultrasound examination. Doppler ultrasound is a special ultrasound
                technique that evaluates blood as it flows through a blood vessel, including the body<sup>'</sup>s major arteries
                and veins in the abdomen, arms, legs and neck. There are three types of Doppler ultrasound: Color Doppler uses a
                computer to convert	Doppler measurements into an array of colors to visualize the speed and direction of blood
                flow through a blood vessel.
            </p>
            <br><p>
                <strong>Power Doppler</strong> is a newer technique that is more sensitive than color Doppler and capable of providing greater detail
                of blood flow, especially in vessels that are located inside organs. Power Doppler,
                however, does not help the radiologist determine the direction of flow, which may be important in some situations.
            </p>
            <br><p>
                <strong>Spectral Doppler</strong> Instead of displaying Doppler measurements visually,
                Spectral Doppler displays blood flow measurements graphically, in terms of the distance traveled per unit of time.
            </p>

        </div>
    </div>
</div>
<!-- //mens -->
<!-- //product-nav -->
<br><br><div class="coupons">
    <div class="container">
        <div class="coupons-grids text-center">
            <div class="col-md-3 coupons-gd">
                <h3>Customer  <br>  Care </h3>
            </div>
            <div class="col-md-3 coupons-gd">
                <h4><a class="start1" href="@Url.Action("health","Main")"> Health</a></h4>
                <p>Boost your Health with some daily routine Health Tips</p>
            </div>
            <div class="col-md-3 coupons-gd">
                <h4><a class="start1" href="@Url.Action("wecare","Main")">We Care</a></h4>
                <p>Our Customer Service Office is available to answer any questions or  any issues  </p>
            </div>
            <div class="col-md-3 coupons-gd">
                <h4><a class="start1" href="@Url.Action("faqs","Main")"> FAQs</a></h4>
                <p>You can view anwers of your required qquestions from the list </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

